<style type="text/css">
#container {
    margin-left:120px;
    margin-right:120px;
}
.col-md-2 {
    border:1px double black;
}
.col-md-4 {
    border:1px double black;
}
.col-md-6 {
    border:1px double black;
}
</style>